<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA106G6_local</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>memLoginFilter</filter-name>
    <filter-class>filters.MemLoginFilter</filter-class>
  </filter>
  
  <servlet>
    <servlet-name>pos</servlet-name>
    <servlet-class>com.pos.controller.PosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pos</servlet-name>
    <url-pattern>/backend/pos/pos</url-pattern>
  </servlet-mapping>
  
<!-- 代購 -->
  <servlet>
    <servlet-name>AcrServlet</servlet-name>
    <servlet-class>com.acr.controller.AcrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcrServlet</servlet-name>
    <url-pattern>/frontend/acr/acr</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AcrServlet</servlet-name>
    <url-pattern>/backend/acr/acr</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PurServlet</servlet-name>
    <servlet-class>com.pur.controller.PurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurServlet</servlet-name>
    <url-pattern>/frontend/pur/pur</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PorServlet</servlet-name>
    <servlet-class>com.por.controller.PorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PorServlet</servlet-name>
    <url-pattern>/frontend/por/por</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>PreServlet</servlet-name>
    <servlet-class>com.pre.controller.PreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreServlet</servlet-name>
    <url-pattern>/backend/pre/pre</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/backend/emp/emp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmrServlet</servlet-name>
    <servlet-class>com.emr.controller.EmrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmrServlet</servlet-name>
    <url-pattern>/backend/emr/emr</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmaServlet</servlet-name>
    <servlet-class>com.ema.controller.EmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmaServlet</servlet-name>
    <url-pattern>/backend/ema/ema</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemAnServlet</servlet-name>
    <servlet-class>android.com.mem.controller.MemAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemAnServlet</servlet-name>
    <url-pattern>/memAn</url-pattern>
  </servlet-mapping>
<!-- 代購 -->
</web-app>