<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA106G6_local</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>memLoginFilter</filter-name>
    <filter-class>filters.MemLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>memLoginFilter</filter-name>
<!--     <url-pattern>/frontend/pho/order.jsp</url-pattern> -->
    <url-pattern>/frontend/pho/listorder.jsp</url-pattern>
    <url-pattern>/frontend/tri/listTriByMem.jsp</url-pattern>
    <url-pattern>/frontend/pur/listMemPur.jsp</url-pattern>
    <url-pattern>/frontend/pur/addOnePur.jsp</url-pattern>
    <url-pattern>/frontend/por/listSellPor.jsp</url-pattern>
    <url-pattern>/frontend/por/listBuyPor.jsp</url-pattern>
    <url-pattern>/frontend/acr/listMemAcr.jsp</url-pattern>
    <url-pattern>/frontend/acr/addOneAcr.jsp</url-pattern>
    <url-pattern>/backend/pcd/memListAll.jsp</url-pattern>
    <url-pattern>/backend/ptp/join.jsp</url-pattern>
    <url-pattern>/backend/pho/order.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>pos</servlet-name>
    <servlet-class>com.pos.controller.PosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pos</servlet-name>
    <url-pattern>/backend/pos/pos</url-pattern>
  </servlet-mapping>
  
<!-- 代購 -->
  <servlet>
    <servlet-name>AcrServlet</servlet-name>
    <servlet-class>com.acr.controller.AcrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcrServlet</servlet-name>
    <url-pattern>/frontend/acr/acr</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AcrServlet</servlet-name>
    <url-pattern>/backend/acr/acr</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PurServlet</servlet-name>
    <servlet-class>com.pur.controller.PurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurServlet</servlet-name>
    <url-pattern>/frontend/pur/pur</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PorServlet</servlet-name>
    <servlet-class>com.por.controller.PorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PorServlet</servlet-name>
    <url-pattern>/frontend/por/por</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PreServlet</servlet-name>
    <servlet-class>com.pre.controller.PreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreServlet</servlet-name>
    <url-pattern>/backend/pre/pre</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>PreServlet</servlet-name>
    <url-pattern>/frontend/pre/pre</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/backend/emp/emp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmrServlet</servlet-name>
    <servlet-class>com.emr.controller.EmrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmrServlet</servlet-name>
    <url-pattern>/backend/emr/emr</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmaServlet</servlet-name>
    <servlet-class>com.ema.controller.EmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmaServlet</servlet-name>
    <url-pattern>/backend/ema/ema</url-pattern>
  </servlet-mapping>
  
<!-- 代購 -->

<!-- 套裝行程 -->
<servlet>
    <servlet-name>PacJNDIimpl_servlet</servlet-name>
    <servlet-class>com.pac.model.PacJNDIDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacJNDIimpl_servlet</servlet-name>
    <url-pattern>/PacJNDIDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PacServlet</servlet-name>
    <servlet-class>com.pac.controller.PacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacServlet</servlet-name>
    <url-pattern>/backend/pac/pac</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader</servlet-name>
    <servlet-class>com.pac.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PtpServlet</servlet-name>
    <servlet-class>com.ptp.controller.PtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PtpServlet</servlet-name>
    <url-pattern>/backend/ptp/ptp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PcdServlet</servlet-name>
    <servlet-class>com.pcd.controller.PcdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PcdServlet</servlet-name>
    <url-pattern>/backend/pcd/pcd</url-pattern>
  </servlet-mapping>
<!-- 套裝行程 -->

<!-- 自由行 -->
  <servlet>
    <servlet-name>SpoServlet</servlet-name>
    <servlet-class>com.spo.controller.SpoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpoServlet</servlet-name>
    <url-pattern>/backend/spo/spo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TdeServlet</servlet-name>
    <servlet-class>com.tde.controller.TdeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TdeServlet</servlet-name>
    <url-pattern>/frontend/tde/tde</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCityAjax</servlet-name>
    <servlet-class>com.tde.controller.ChangeCityAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCityAjax</servlet-name>
    <url-pattern>/frontend/tde/ChangeCityAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClassAjax</servlet-name>
    <servlet-class>com.tde.controller.GetClassAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassAjax</servlet-name>
    <url-pattern>/frontend/tde/GetClassAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSpoContentAjax</servlet-name>
    <servlet-class>com.tde.controller.GetSpoContentAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSpoContentAjax</servlet-name>
    <url-pattern>/frontend/tde/GetSpoContentAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TriServlet</servlet-name>
    <servlet-class>com.tri.controller.TriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TriServlet</servlet-name>
    <url-pattern>/frontend/tri/tri</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TriServlet</servlet-name>
    <url-pattern>/backend/tri/tri</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TodServlet</servlet-name>
    <servlet-class>com.tod.controller.TodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodServlet</servlet-name>
    <url-pattern>/backend/tod/tod</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodServlet</servlet-name>
    <url-pattern>/frontend/tod/tod</url-pattern>
  </servlet-mapping>
<!-- 自由行 -->

<!-- 機加酒 -->
 <servlet>
    <servlet-name>pahcontrol</servlet-name>
    <servlet-class>com.pah.controller.PahServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pahcontrol</servlet-name>
    <url-pattern>/pah/pahcontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingcontrol</servlet-name>
    <servlet-class>com.pah.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingcontrol</servlet-name>
    <url-pattern>/pah/shoppingcontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>phocontrol</servlet-name>
    <servlet-class>com.pho.controller.PhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>phocontrol</servlet-name>
    <url-pattern>/pho/phocontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>faqcontrol</servlet-name>
    <servlet-class>com.faq.controller.FaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqcontrol</servlet-name>
    <url-pattern>/faq/faqcontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.pah.model.ScheduleUnloadPah</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
<!--   機加酒 -->

<!-- android -->  
  <servlet>
    <servlet-name>MemAnServlet</servlet-name>
    <servlet-class>android.com.mem.controller.MemAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemAnServlet</servlet-name>
    <url-pattern>/memAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PahAnServlet</servlet-name>
    <servlet-class>android.com.pah.controller.PahAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PahAnServlet</servlet-name>
    <url-pattern>/pahAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PahDDLAnServlet</servlet-name>
    <servlet-class>android.com.pah.controller.PahDDLAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PahDDLAnServlet</servlet-name>
    <url-pattern>/pahDDLAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PhoAnServlet</servlet-name>
    <servlet-class>android.com.pho.controller.PhoAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoAnServlet</servlet-name>
    <url-pattern>/phoAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TriAnServlet</servlet-name>
    <servlet-class>android.com.tri.controller.TriAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TriAnServlet</servlet-name>
    <url-pattern>/triAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TdeAnServlet</servlet-name>
    <servlet-class>android.com.tde.controller.TdeAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TdeAnServlet</servlet-name>
    <url-pattern>/tdeAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TdeMapAnServlet</servlet-name>
    <servlet-class>android.com.tde.controller.TdeMapAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TdeMapAnServlet</servlet-name>
    <url-pattern>/tdeMapAn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TdeMapImgAnServlet</servlet-name>
    <servlet-class>android.com.tde.controller.TdeMapImgAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TdeMapImgAnServlet</servlet-name>
    <url-pattern>/tdeMapImgAn</url-pattern>
  </servlet-mapping> 
<!-- android -->
</web-app>